<div class="container justify-content-center" style="width: 30rem;">
  <div class="card shadow mt-5" style="background-color:#e1f5fe;">
    <div class="card-header bg-white shadow">
      <h4 class="text-center"> Change Password</h4>
    </div>
    
    <div class="card-body">
    <%= render 'shared/errors', object: Current.user %>
    <%= render 'shared/flash'%>
      <%= form_with model: Current.user, url: password_update_user_index_path, method: :patch, local:true do |form|%>
        <%= form.label :oldpassword %>
        <%= form.password_field :oldpassword, class:"form-control shadow mb-3", placeholder:"old password" %>
        
        <%= form.label :password %>
        <%= form.password_field :password, class:"form-control shadow mb-3", placeholder:"new password" %>
        
        <%= form.label :password_confirmation%>
        <%= form.password_field :password_confirmation, class:"form-control shadow mb-3", placeholder:"re-enter new password" %>
        
        <%= form.submit "Register", class:"shadow" %>
      <%end%>	
    </div>
  </div>
</div>
